h1{
    font-weight: 700;
    color: #55a362;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2.5px;
}
h2{
    font-weight: 700;
}
p{
    font-weight: 400;
    line-height: 1.5;
}
li{
    font-weight: 400;
    text-decoration: none;
}
ul{
    list-style:none;
}